/* Utilities */
* {
    font-family: Montserrat;

}

body a {
    text-decoration: none;
    color: white;
}

.chip {
    display: inline-block;
    margin-left: 20px;
    height: 25px;
    font-size: 16px;
    line-height: 25px;
    border-radius: 25px;

}

.chip img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
}

.subtitle {
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    letter-spacing: 2px;
}

.judul {
    color: red;
    font-weight: 600;
    text-transform: uppercase;
}

/* Utilities */

/* navbar */
.navbar {
    background: red;
    box-shadow: 0px 0px 10px 1px gray;
    border-radius: 0 0 10px 10px;

}

.navbar .navbar-brand img {
    width: 200px;
}

.navbar .navbar-nav {
    margin-left: auto;
    font-size: small;
    font-weight: bold;

}

.navbar-nav .nav-link {
    color: white;
    padding: 2px;
}

.navbar-nav .nav-link:hover {
    color: white;
}


.navbar .iconify {
    color: white;


}

.navbar .divider {
    border-left: 1px solid white;
}

/* navbar */

/* top */
/* up */
#top .search {
    padding-top: 25px;
}

#top img {
    width: 150px;

}

#top .btnSearch {
    padding-top: 25px;

}

#top .btnSearch button {
    background: red;
    color: white;
}

#top .keranjang {
    padding-top: 25px;
}

#top .keranjang img {
    width: 50px;
}

#top .up {
    border-style: none;
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 0px 10px 1px gray;
}

/* up */
#top .carousel-inner {
    border-radius: 10px;
}

/* promosi */
#top .promosi .card {
    background-color: rgb(246, 76, 76);
    color: white;
}

#top .promosi .card-body img {
    width: 230px;
    height: 390px;
    border-radius: 10px;
}


/* promosi */
#top .card img {
    width: 100%;
}



/* categories */
#top .categories h6 {
    color: red;
    text-align: left;
    font-weight: 600;

}

#top .categories a {
    color: red;

}

#top .categories .ctg {
    text-align: center;
    font-size: small;
    font-weight: 600;

}

/* categories */

/* flash-sale */

#top .flash-sale .inflash {
    border-style: none;
    border-radius: 10 10 10px 10px;
    box-shadow: 0px 0px 10px 1px gray;
    margin-bottom: 10px;
}

#top .flash-sale a {
    color: red;
    font-weight: 600;
    font-weight: bold;
}

#top .flash-sale .inflash a {
    color: white;

}

#top .flash-sale p {
    font-size: smaller;
}

#top .flash-sale .iconify {
    color: yellow;
}

#top .flash-sale .inflash .cost {
    font-size: small;
    font-weight: normal;

}

#top .flash-sale .inflash .cost del {
    color: red;

}

#top .flash-sale .inflash .penilaian {
    font-size: xx-small;
    font-weight: normal;
    color: grey;
}

#top .flash-sale .inflash .cart .btn {
    background-color: white;
    box-shadow: 0px 0px 2px 1px gray;
    border-radius: 0 10px 0 10px;
    margin-left: 50px;
}

#top .flash-sale .inflash .addtocart {
    width: 19px;
}

/* flash-sale */

/* daily-requirments */
#top .daily .judul {
    text-align: center;
    letter-spacing: 5px;
    font-weight: bolder;
}

#top .daily p {
    font-size: smaller;
}

#top .daily .card {
    margin-bottom: 10px;
}

#top .daily .card .penilaian {
    font-size: xx-small;
    font-weight: normal;
    color: grey;
}

#top .daily .btn {

    background-color: red;
    border: none;
    width: 100%;
    color: white;
    font-weight: 600;

}

#top .daily .cart .btn {
    background-color: white;
    box-shadow: 0px 0px 2px 1px gray;
    border-radius: 0 10px 0 10px;
    margin-left: 50px;
}

#top .flash-sale .inflash .addtocart {
    width: 19px;
}

#top .daily .iconify {
    color: yellow;
}

/* daily-requirments */
/* top */

/* cart-page */
#cart .search {
    padding-top: 25px;
}

#cart img {
    width: 150px;

}

#cart .btnSearch {
    padding-top: 25px;

}

#cart .btnSearch button {
    background: red;
    color: white;
}

#cart .up {
    border-style: none;
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 0px 10px 1px gray;
}

#cart .isi .btn {
    background-color: red;
    color: white;
    font-weight: 600;
    justify-content: center;
}

#cart .isi img {
    width: 150px;
}

#cart .modal a {
    color: black;
}

#cart .modal .btn {
    background: red;
    border: none;
    color: white;
    width: 50%;
    font-weight: 600;
}

#cart .modal-body {
    padding: 30px;
}

#cart .modal .btn {
    display: flex;
    margin-left: 100px;
    justify-content: center;
}

#cart .modal .btn-close {
    margin-left: auto;
    display: flex;
}

/* cart-page */

/* buy-page */
#buy img {
    width: 150px;

}

#buy .up {
    border-style: none;
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 0px 10px 1px gray;
}

#buy .btn {
    background-color: red;
    color: white;
    font-weight: 600;
    justify-content: center;
}

#buy h5 {
    color: red;
    font-weight: 600;
    padding-top: 10px;

}

/* buy-page */
/* confirm-page */
#confirm img {
    width: 150px;

}

#confirm .up {
    border-style: none;
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 0px 10px 1px gray;
}

#confirm .btn {
    background-color: red;
    color: white;
    font-weight: 600;
    justify-content: center;
    text-transform: uppercase;
}

#confirm h5 {
    color: red;
    font-weight: 600;
    padding-top: 10px;

}

/* confirm-page */

/* payment-success */
#success img {
    width: 150px;

}

#success .up {
    border-style: none;
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 0px 10px 1px gray;
}

#success .success .btn {
    background-color: red;
    color: white;
    font-weight: 600;
    justify-content: center;
    text-transform: uppercase;
}

#success .card {
    border-style: none;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 1px gray;

}

#success .card h3 {
    text-align: center;
}

#success .success {
    text-align: center;
}

#success .daily .card img {
    width: 100%;
}

#success .daily .judul {
    text-align: center;
    letter-spacing: 5px;
    font-weight: bolder;
}

#success .daily p {
    font-size: smaller;
}

#success .daily .card .penilaian {
    font-size: xx-small;
    font-weight: normal;
    color: grey;
}

#success .daily .btn {
    background-color: red;
    border: none;
    width: 100%;
    color: white;
    font-weight: 600;

}

#success .daily .cart img {
    width: 100%;
}

#success .daily .cart .btn {
    background-color: white;
    box-shadow: 0px 0px 2px 1px gray;
    border-radius: 0 10px 0 10px;

}

#success .daily .iconify {
    color: yellow;
}

#success .goshop p {
    color: black;
    font-size: small;
}

/* payment-success */

/* in-login */
#in-login .search {
    padding-top: 25px;
}

#in-login img {
    width: 150px;

}

#in-login .btnSearch {
    padding-top: 25px;

}

#in-login .btnSearch button {
    background: red;
    color: white;
}

#in-login .keranjang {
    padding-top: 25px;
}

#in-login .keranjang img {
    width: 50px;
}

#in-login .up {
    border-style: none;
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 0px 10px 1px gray;
}

/* up */
#in-login .carousel-inner {
    border-radius: 10px;
}

/* promosi */
#in-login .promosi .card {
    background-color: rgb(246, 76, 76);
    color: white;
}

#in-login .promosi .card-body img {
    width: 230px;
    height: 390px;
    border-radius: 10px;
}


/* promosi */
#in-login .card img {
    width: 100%;
}



/* categories */
#in-login .categories h6 {
    color: red;
    text-align: left;
    font-weight: 600;

}

#in-login .categories a {
    color: red;

}

#in-login .categories .ctg {
    text-align: center;
    font-size: small;
    font-weight: 600;

}

/* categories */

/* flash-sale */

#in-login .flash-sale .inflash {
    border-style: none;
    border-radius: 10 10 10px 10px;
    box-shadow: 0px 0px 10px 1px gray;
    margin-bottom: 10px;
}

#in-login .flash-sale a {
    color: red;
    font-weight: 600;
    font-weight: bold;
}

#in-login .flash-sale .inflash a {
    color: white;

}

#in-login .flash-sale p {
    font-size: smaller;
}

#in-login .flash-sale .iconify {
    color: yellow;
}

#in-login .flash-sale .inflash .cost {
    font-size: small;
    font-weight: normal;

}

#in-login .flash-sale .inflash .cost del {
    color: red;

}

#in-login .flash-sale .inflash .penilaian {
    font-size: xx-small;
    font-weight: normal;
    color: grey;
}

#in-login .flash-sale .inflash .cart .btn {
    background-color: white;
    box-shadow: 0px 0px 2px 1px gray;
    border-radius: 0 10px 0 10px;
    margin-left: 50px;
}

#in-login .flash-sale .inflash .addtocart {
    width: 19px;
}

/* flash-sale */

/* daily-requirments */
#in-login .daily .judul {
    text-align: center;
    letter-spacing: 5px;
    font-weight: bolder;
}

#in-login .daily p {
    font-size: smaller;
}

#in-login .daily .card {
    margin-bottom: 10px;
}

#in-login .daily .card .penilaian {
    font-size: xx-small;
    font-weight: normal;
    color: grey;
}

#in-login .daily .btn {

    background-color: red;
    border: none;
    width: 100%;
    color: white;
    font-weight: 600;

}

#in-login .daily .cart .btn {
    background-color: white;
    box-shadow: 0px 0px 2px 1px gray;
    border-radius: 0 10px 0 10px;

}

#in-login .flash-sale .inflash .addtocart {
    width: 19px;
}

#in-login .daily .iconify {
    color: yellow;
}

/* daily-requirments */
/* in-login */

/* produk */
#produk .search {
    padding-top: 25px;
}

#produk img {
    width: 150px;

}

#produk .btnSearch {
    padding-top: 25px;

}

#produk .btnSearch button {
    background: red;
    color: white;
}

#produk .keranjang {
    padding-top: 25px;
}

#produk .keranjang img {
    width: 50px;
}

#produk .up {
    border-style: none;
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 0px 10px 1px gray;
}

#produk .game-image {
    width: 100%;
    margin-bottom: 0;
    padding-bottom: 0;
}

#produk h4 {
    font-weight: 600;
}

#produk table {
    width: 100%;
}

#produk table th {
    color: grey;
}

#produk .trigger .btn {
    width: 100%;
    margin-bottom: 10px;
    background-color: red;
    color: white;

}


#produk .modal a {
    color: black;
}

#produk .modal .btn {
    background: red;
    border: none;
    color: white;
    width: 50%;
    font-weight: 600;
}

#produk .modal-body {
    padding: 30px;
}

#produk .modal .btn {
    display: flex;
    margin-left: 100px;
    justify-content: center;
}

#produk .modal .btn-close {
    margin-left: auto;
    display: flex;
}

/* produk */

/* login */
#login {
    margin-top: 50px;
    
    background-image: url(./assets/image-pg-login.jpg);
    background-size: cover;
    padding-left: 900px;
}

#login a {
    text-decoration: none;
    color: black;
}

#login h5 {
    text-align: center;
}

#login p {
    text-align: center;
}

.bg-login {
    padding: 30px;
    border-radius: 20px;
    width: 100%;
   
    color: black;
}

.bg-login .btn {
    background-color: red;
    border: none;
    color: white;
}
#login .bg-login .btn {
    color: white;
}
/* login */


/* signup */
#signup {
    margin-top: 50px;
    width: 100%;
    background-image: url(./assets/image-pg-login.jpg);
    background-size: cover;
    padding-left: 900px;
}

#signup a {
    text-decoration: none;
    color: black;
}

#signup h5 {
    text-align: center;
}

#signup p {
    text-align: center;
}

.bg-signup {
    padding: 30px;
    border-radius: 20px;
    width: 100%;
   
    color: black;
}

.bg-signup .btn {
    background-color: red;
    border: none;
    color: white;
}
#signup .bg-signup .btn {
    color: white;
}
#signup label{
    font-weight: 600;
    font-size: small;
}
/* sign up */

/* footer */
footer {
    padding: 30px 30px;
    text-decoration: none;
    background-color: red;
    border-radius: 10px 10px 0 0;
    box-shadow: 0px 0px 10px 1px gray;
    font-size: medium;
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer li {
    font-size: small;
    padding-right: 20px;
    text-decoration: none;
}

footer .logo img {
    width: 250px;
    margin-left: 150px;
}

footer img {
    width: 30px;
}



footer .copyright-text {
    color: white;
    margin: none;
    padding: 0;
}

footer hr {
    color: white;
    width: 100%;
}

/* footer */